@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

  #contact {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 200px;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 50px;
    font: 300 60px;
    letter-spacing: 2px;
    color: #000;
    margin-bottom: 25px;
  }
  
  .contact-wrapper {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 1000px;
    width: 850px;
    height: 500px;
    background-color: #C9E6C0;
    -webkit-box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  -moz-box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  border-radius: 10px;
}
  
  /* Begin Left Contact Page */
  .form-horizontal {
    float: left;
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, textarea {
    max-width: 400px;
    background-color: #fff;
    color: #000;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #228b22;
  }

  .button {
    width: 400px;
    height: 34px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #228b22;
  }
  
  .send-text {
    display: block;
    justify-content: center;
    margin-top: 10px;
    font: 300 14px;
    letter-spacing: 2px;
    background-color: #228b22;
    color: #fff;
  }

.button i {
  color: #fff;
}
  
  /* Begin Right Contact Page */

.feedback__wrapper--contact {
    position: absolute;
    top: 70px;
    right: 5px;
}

.feedback__direct-contact-container {
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 220px;
    right: 60px;
}
  
  /* Location, Phone, Email Section */
.feedback__contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}
  
.feedback__list-item {
    line-height: 4;
    color: #000;
    margin-left: 20px;
}
  
.feedback__contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #000;
    font-weight: 400;
}
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .feedback__contact-text a {
    color: #000;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  
  .feedback__contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .feedback__social-media-list {
    position: relative;
    font-size: 2.3rem;
    text-align: center;
    width: 100%;
  }
  
  .feedback__social-media-list li a {
    color: #fff;
  }
  
  .feedback__social-media-list li {
    position: relative;
    top: 0;
    left: -20px;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px auto;
    line-height: 70px;
    border-radius: 50%;
    color: #fff;
    background-color: #228b22;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .feedback__social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }
  
  .feedback__social-media-list li:hover {
    background-color: #fff;
  }
  
  .feedback__social-media-list li:hover:after {
    opacity: 1;
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    -webkit-transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
            transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .feedback__social-media-list li:hover i {
    color: #000;
  }
  
  .feedback__copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #000;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
  }
  
  hr {
    border-color: #000; 
  }

/* * ========================== css popup modal */
.feedback__popup--container {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  -moz-box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  box-shadow: 4.5px -1px 16.5px 4.5px #dddddd;
  display: none;
  transition: transform 0.5s ease-in-out;
}

.feedback__popup--container.active {
  display: block;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup img {
  width: 100px;
  margin-bottom: 30px;
}

.popup p {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
}

.popup button {
  padding: 5px 30px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
}
 
.popup button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
.popup button:hover {
  color: #e8e8e8;
 }
 
.popup button:hover::before {
  width: 100%;
 }
  
  /* Begin Media Queries*/
@media (min-width: 769px) and (max-width: 1024px) {
    .section-header {
        font-size: 30px;
    }

    .contact-wrapper {
        width: 90%;
    }

    .form-control {
        width: 60%;
    }

    .direct-contact-container {
        max-width: 300px;
    }

    .contact-text {
        font: 300 16px 'Lato', sans-serif;
        letter-spacing: 1.9px;
        color: #000;
        font-weight: 400;
    }

    .phone{
        margin-left: 35px;
    }

    .place {
        margin-left: 41px;
    }

    .gmail {
        margin-left: 30px;
    }

    .btn {
        width: 60%;
        position: relative;
    }

    .button i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .button .send-text {
        position: absolute;
        top: 40px;
        left: 40%;
    }
    /*  */
  
}
  
@media (min-width: 481px) and (max-width: 768px) {
    .contact-wrapper {
        display: flex;
        justify-content: center;
        width: 90%;
        height: 1000px;
        margin-bottom: 1500px;
    }

    .feedback__wrapper--contact {
        top: 500px;
        right: 150px;
    }

    .feedback__direct-contact-container {
        top: 800px;
    }
}
  
@media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }
}