
.col-title-1 {
    border:1px solid #f6f4f4;
    min-height: 500px;
    box-shadow: 0 4px 6px -3px #eae7e7;
}
.col-title .title {
    width: 100%;
    height: 56px;
    background-color: #a4ccc6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-title .title h3 {
    margin-bottom: 0;
} 

.light h4{
    padding: 10px;
    width: 100%;
    font-size: 1.75rem;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    background-color: #fcfcfcfe;
    box-shadow: 0 4px 6px -3px #eae7e7;
}

.light ul {
    padding-left: 0;
}
.light ul li {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    transition: .5s;
}
.light ul li:hover {
    color: #fff;
    background-color: #a4ccc6;
}
.light ul li:hover a{
    color: #fff;
}
.light ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.price_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price_card a i {
    color: #a4ccc6;
    font-size: 25px;
}
.price_card a i:hover{
    color: #92dbd2;
}
.sp_card {
    box-shadow: 0px 0px 4px 5px #eae7e7
}
.sp_img_item {
    overflow: hidden;
}
.sp_img_item img {
    transition: .6s;
}
.sp_img_item img:hover {
    transform: scale(1.2);
}