<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

    

            <div class="col-lg-9 col-md-12" ng-controller="page2Controller">
                <div class="container">
                    <div class="row">
                        
                        
                        <div class="col-lg-4 col-md-6   mb-4" ng-repeat="Indoor in data2">
                            <div class="card sp_card ">
                                <div class="sp_img_item">
                                    <img ng-src="{{ Indoor.img }}" class="card-img-top" style="height: 260px;">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ Indoor.name }}</h5>
                                    <p class="card-text">{{ Indoor.scientificname }}</p>
                                    <div class="price_card">
                                        <span>{{ Indoor.price }}</span>
                                        <i class="fa-solid fa-cart-shopping addtocart"
                                    ng-click="addToCart(Indoor)"></i>
                                    </div>
                                    </div>
                            </div>
                        </div>
 
                    </div>
                </div>
            </div>
      



<script src="./js/addtocart1.js"></script>

